*{
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    background-color: #dddd;
}

body{
    background-color: #dddd;
}

.main-container{
    display: flex;
    width: 100%;
    min-width: 460px;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.submit-container{
display: flex;  
flex-direction: row;
margin-top: 5rem;
justify-content: space-evenly;
text-align: center;
}

.info-container{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}


.submit-container h1{
    margin: 1rem;
    color: #444;
    letter-spacing: .2rem;
}

.submit-container p {
    margin-top: .5rem
}

.submit-container select{
    width: 12rem;
    height: 2rem;
    margin: 1rem;
}

.submit-container button{
    width: 8rem;
    height: 1.85rem;
    margin: 1rem;
    border: none;
    outline: .1rem solid #555;
    transition: .2s;
}

.submit-container button:hover{
    box-shadow: .2rem .2rem .2rem #333
}

img{
    width: 55%;
    max-width: 55rem;
    min-width: 55rem;
    height: 35vh;
    align-self: center;
    margin: 2rem;
}

.header-bar{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    background-color: #6ba32f;
}

.header-bar h1{
    margin: 2rem;
    background-color: #6ba32f;
    color: #ddd;
}

@media(max-width: 500){
    .main-container{
     background-color: #6ba32f;
    }
}


